 /* Reset some default styles */
 body, h1, h2, h3, p {
    margin: 0;
    padding: 0;
}

/* General body styling */
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f0f0f0;
    padding: 20px;
    color: #333;
}

nav {
    /* sticky changes  */
    position: sticky;
    top: 15px;
    z-index: 1;
}
/* scroll progress bar css */
.progress-bar{
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100vw;
    height: 1vh;
    z-index: 100;
}
.filled{
    width: 0%;
    height: 100%;
    background-image: linear-gradient(to right, red, orange);
}
/* Back button styling */
.back-btn {
    background-color: #ff4081;
    color: white;
    padding: 10px 15px;
    text-decoration: none;
    border-radius: 5px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1);
    font-size: 16px;
    transition: background-color 0.3s;
}

.back-btn:hover {
    background-color: #e5396d;
}

/* Content Section */
.content {
    max-width: 800px;
    margin: 50px auto;
    background-color: white;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.content h1 {
    text-align: center;
    font-size: 32px;
    color: #333;
}

.description {
    font-size: 18px;
    line-height: 1.6;
    margin: 20px 0;
}

pre {
    background-color: #f4f4f4;
    padding: 10px;
    border-radius: 5px;
    overflow: auto;
}

code {
    background-color: #f4f4f4;
    padding: 2px 5px;
    border-radius: 3px;
}

/* Back to Top Button */
#backToTopBtn {
    display: none; /* Hide the button initially */
    position: fixed;
    bottom: 30px;
    right: 30px;
    background-color: #ff4081;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 50px;
    font-size: 16px;
    cursor: pointer;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s, transform 1s;
}

#backToTopBtn:hover {
    background-color: #e91e63;
    transform: translateY(-3px);
}

#backToTopBtn:active {
    transform: translateY(1px);
}